:root {
  /* Dracula color pallete */
  --background: #282a36;
  --current-line: #44475a;
  --foreground: #f8f8f2;
  --comment: #6272a4;
  --cyan: #8be9fd;
  --green: #50fa7b;
  --orange: #ffb86c;
  --pink: #ff79c6;
  --purple: #bd93f9;
  --red: #ff5555;
  --yellow: #f1fa8c;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--pink);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

body {
  background: var(--background);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

section {
  text-align: center;
}

section > h1 {
  font-size: 5em;
  text-shadow: 0 0 2rem var(--pink);
  font-weight: 400;
  padding: 1rem 0;
  color: var(--background);
}

dialog > h1 {
  font-size: 5em;
  text-shadow: 0 0 2rem var(--pink);
  font-weight: 400;
  padding: 1rem 0;
  color: var(--background);
}

#main-container {
  background: var(--current-line);
  height: 50em;
  width: 50em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

#main-container > div {
  border: .3rem solid var(--background);
  box-shadow: inset 0 0 3rem 0px var(--pink);
  color: var(--background);
  font-weight: 900;
  text-shadow: 0 0 3rem var(--pink);
  font-size: 13rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#main-container > div:hover {
  background: var(--foreground);
  box-shadow: inset 0 0 3rem 0px var(--background);
  text-shadow: 0 0 3rem var(--background);
  cursor: pointer;
}

.lights-on {
  text-shadow: 0 0 4rem var(--pink);
}

.lights-off {
  text-shadow: 0 0 2rem black;
}

dialog {
  top: 2.5%;
  background: var(--background);
  margin: auto auto;
  width: 90%;
  height: 95%;
  text-align: center;
  box-shadow: inset 0 0 2rem 0px var(--pink);
  padding: 3em;
}
dialog > menu {
  margin: 1em;
}
dialog > menu > button {
  font-size: 2em;
  padding: .5em 1.5em;
}
dialog > h1 {
  margin-bottom: 2rem;
}

button {
  all: unset;
  display: revert;
  padding: 10px;
  border: 3px solid var(--pink);
  background: var(--current-line);
  border-radius: 10px;
  box-shadow: inset 0 0 .5rem 0px var(--pink);
  color: var(--pink);
  font-weight: 800;
}

button:hover {
  background: var(--pink);
  color: var(--background);
  font-weight: bolder;
}

button:active {
  background: var(--background);
  color: var(--pink);
}

form {
  font-size: 2em;
  display: flex;
}
form > div {
  flex: 1;
  display: flex;
  flex-direction: column;
}

form > div > input {
  all: unset;
  display: revert;
  background: var(--pink);
  padding: .2em;
  margin: .5em;
  border-radius: 5px;
  color: var(--background);
}

form > div > select {
  all: unset;
  display: revert;
  background: var(--pink);
  padding: .2em;
  margin: .5em;
  border-radius: 5px;
  color: var(--background);
}

form > div > select > option {
  all: unset;
  display: revert;
  background: var(--background);
}

#player1-marker > option,
#player2-marker > option {
  color: var(--pink);
}

#confirm-btn {
  margin-top: 17rem;
}